//переиспользуемые стили
body {
    box-sizing: border-box;
    font-family: 'TT Lakes';
    font-style: normal;
    background-color: $bgBody;
    color: $textMain;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.main {
    padding: 0 16px;
    &__header-block {
        display: flex;
        justify-content: space-between;
        height: 40px;
        margin-bottom: 24px;
    }
    &__nav {        
        position: relative;
        &_blur {            
            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 24px;
                height: 40px;
                top: 0;
                right: 0;
                background: linear-gradient(270deg, #F8F8F8 0.04%, rgba(248, 248, 248, 0.00) 100%);
            }
        }
    }
}

.title {
    font-weight: 700;
    &::before {
        content: url('../icons/highlight.svg');
        position: absolute;
        left: -15px;
    }
}

.button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
        transition: all .3s;
    }
}

.buttons-block {
    column-gap: 16px;
}

//основные стили
.wraper {
    margin: 0 auto;
    max-width: 1440px;
    height: 100vh;
    &__aside-menu {        
        position: fixed;
        display: none;
        flex-direction: column;
        width: 320px;
        height: 100vh;
        padding: 30px 24px;
    }
    &__header {
        background-color: #fff;
        width: 100%;
        min-height: 88px;
        padding: 18px 16px;
        margin-bottom: 24px;
    }
    &__title {        
        position: relative;
        margin-bottom: 24px;
        font-size: 28px;
        line-height: 40px;
    }    
}

.header-block {
    &__buttons {
        display: none;
        align-items: center;
        column-gap: 8px;
    }
    &__text {
        margin-left: 24px;

    }
}

.header {    
    display: flex;
    column-gap: 16px;
    align-items: center;
    &__buttons-block {
        display: none;
        margin-right: 24px;
    }
    &__button {
        position: relative;        
        width: 40px;
        height: 40px;
        &_divided {
            &::after{
                content: '';
                display: none;
                position: absolute;
                top: 50%;
                left: 60px;
                transform: translateY(-50%);
                width: 2px;
                height: 32px;
                background: #EAEAEA;
            } 
        }
    }
    &__logo {
        margin-right: auto;        
    } 
}

.logo {
    position: relative;
    &_divided {
        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 115px;
            transform: translateY(-50%);
            width: 2px;
            height: 32px;
            background: #EAEAEA;
        }
    }
}

.nav {
    &__list{
        display: flex;
        align-items: center;
        overflow-x: auto;
        margin-bottom: 24px;
        padding: 0;
        list-style-type: none;
        &::after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            width: 20px;
            height: 40px;
            background: linear-gradient(270deg, #F8F8F8 0.04%, rgba(248, 248, 248, 0.00) 100%);
        }    
    }
    &__item {
        margin-left: 0;
        height: 40px;
        text-align: center;
        padding: 8px 16px;
        white-space: nowrap; 
        transition: all .3s;               
        &:hover {
            border-radius: 6px;
            border: 2px solid #B8FFEC;
            background: #FFF;   
        }
    }
    &__link {
        text-decoration: none;
        color: $textSecond;
        font-weight: 500;        
        font-size: 16px;
        line-height: 24px;
        transition: all .3s;
        &:hover {
            color: #3b3b3b;
        }
    }
}

.descr {
    &__text {        
        max-height: 90px;
        overflow: hidden;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
    &__button {        
        position: relative;
        min-width: 100px;
        margin: 0 auto 24px 16px;
        padding: 0;
        background-color: transparent;
        border: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        &::before {
            content: url(../icons/down_arrows.svg);
            display: block;
            position: absolute;
            left: -24px;
            width: 24px;
            height: 24px;
        }
    }    
    &__img {
        width: 100%;
        height: auto;
    }
}


//боковое меню
.aside-menu {
    background-color: #fff;
    font-style: normal;
    &__header {
        display: flex;
        column-gap: 16px;
        align-items: center;
        margin-bottom: 38px;
    }
    &__logo {
        margin-right: auto;
    }
    &__nav {        
        margin-bottom: auto;
    }
    &__list {
        padding: 0;
        list-style-type: none;        
    }
    &__item {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 32px;
    }
    &__link {
        position: relative;
        color: $textMain;
        text-decoration: none;
        &:hover {
            color: $textMain;
        }
        &_active {
            color: $textSecond;
            &::before {
                content: url('../icons/highlight.svg');
                position: absolute;
                top: -40%;
                left: -20px;
            }
        }
    }
    &__buttons {
        display: flex;
        margin-bottom: 16px;
    }
    &__contacts {
        margin-bottom: 40px;
    }
    &__languages {
        display: flex;
        gap: 7px;
    }
}

.contacts {
    &__mail {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; 
    }
    &__phone {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
    &__link {
        color: $textMain;
        text-decoration: none;
    }
}

.languages {
    &__item {
        border: none;
        background-color: transparent;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        &_active {
            color: $textSecond;
        }
    }
}