.brands {
	&__slider {
		margin-bottom: 16px;
	}
	&__button {
		display: none;
	}
}

@media (min-width: 768px) {
    .brands {
		&__slider {
			max-height: 100%;
		}
        &__button {
            display: block;
        }
    }
}

