@import '../libs/variables';

.footer {
	&__wraper {
		padding: 20px 0;
		text-align: center;
		color: $textSecond;
		font-size: 14px;
		font-weight: 500;
	}
}

@media (min-width: 992px) {    
    .footer {
        &__wraper {
            display: flex;
            justify-content: space-between;
        }
    }
}