@import '../libs/variables';

.footer {
	max-width: 1120px;
	&__wraper {
		padding: 20px 16px;
		text-align: center;
		color: $textSecond;
		font-size: 14px;
		font-weight: 500;
	}
}

@media (min-width: 992px) {    
    .footer {
        &__wraper {
            display: flex;
            justify-content: space-between;
        }
    }
}
@media (min-width: 1440px) {    
    .footer {
        transform: translate(320px);
    }
}